Data Cleaning

In [92]:
import requests
import json
import csv 
import folium
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys

Do not reload the csv or shapefile below. Manual changes were done in the final_malaysia_states.geojson to match the states.

In [ ]:
geojson_file = "/Users/mona/final-project-monabr4/data/raw/exported_statis_csv_shapefile/[static]malaysia_states.geojson"
gdf_geojson = gpd.read_file(geojson_file)
csv_file = "/Users/mona/final-project-monabr4/data/final_covid_data.csv"
csv_data = pd.read_csv(csv_file)

merged_data = gdf_geojson.merge(csv_data, how='left', left_on='name', right_on='state')
merged_data.to_file("/Users/mona/final-project-monabr4/data/final_malaysia_shapefile_data.geojson", driver="GeoJSON")

Updated ShapeFile For Further Graphing

In [90]:
csv_file = "/Users/mona/final-project-monabr4/data/processed/final_covid_data.csv"
csv_data = pd.read_csv(csv_file, usecols=["Date", "state", "cases_new", "cases_active", "cases_recovered"])
csv_data["recovery_active_ratio"] = csv_data["cases_recovered"] / csv_data["cases_active"]

selected_columns = ['state', 'cases_new', 'cases_recovered']
data_to_plot = csv_data[selected_columns]

total_by_state = data_to_plot.groupby('state').sum()
total_by_state['percent_recovered'] = (total_by_state['cases_recovered'] / total_by_state['cases_new']) * 100
total_by_state['percent_not_recovered'] = 100 - total_by_state['percent_recovered']

(total_by_state)

,cases_new,cases_recovered,percent_recovered,percent_not_recovered
state,,,,
Johor,398177,391453,98.311304,1.688696
Kedah,318502,316271,99.299533,0.700467
Kelantan,260024,258613,99.457358,0.542642
Melaka,144807,142071,98.110589,1.889411
Negeri Sembilan,230892,229259,99.292743,0.707257
Pahang,182590,181071,99.168081,0.831919
Perak,238885,236452,98.981518,1.018482
Perlis,18989,18761,98.799305,1.200695
Pulau Pinang,307436,305317,99.310751,0.689249
Sabah,406783,399943,98.318514,1.681486
Sarawak,324235,322341,99.415856,0.584144
Selangor,1547816,1536576,99.273815,0.726185
Terengganu,132919,131827,99.178447,0.821553
W.P. Kuala Lumpur,467824,464447,99.278147,0.721853
W.P. Putrajaya,32374,32092,99.128931,0.871069

In [ ]:
csv_file = "/Users/mona/final-project-monabr4/data/processed/final_covid_data.csv"
csv_data = pd.read_csv(csv_file, usecols=["Date", "state", "cases_new", "cases_active", "cases_recovered"])

csv_data["recovery_active_ratio"] = csv_data["cases_recovered"] / csv_data["cases_active"]

selected_columns = ['state', 'cases_new', 'cases_recovered']
data_to_plot = csv_data[selected_columns]

total_by_state = data_to_plot.groupby('state').sum()
total_by_state['percent_recovered'] = (total_by_state['cases_recovered'] / total_by_state['cases_new']) * 100
total_by_state['percent_not_recovered'] = 100 - total_by_state['percent_recovered']

geojson_file = "/Users/mona/final-project-monabr4/data/raw/exported_statis_csv_shapefile/[static]malaysia_states.geojson"
geo_data = gpd.read_file(geojson_file)

merged_data = pd.merge(geo_data, total_by_state, how='left', left_on='name', right_on='state')


output_geojson_file = "/Users/mona/final-project-monabr4/data/processed/final_rate_data.geojson"
merged_data.to_file(output_geojson_file, driver="GeoJSON")

In [83]:

total_by_state = pd.DataFrame(total_by_state)
total_by_state_sorted = total_by_state.sort_values(by='percent_not_recovered')

print(total_by_state)
print("\nDataFrame sorted by percent_not_recovered:")
(total_by_state_sorted)

                state  cases_new  cases_recovered  percent_recovered  \
0               Johor     398177           391453          98.311304
1               Kedah     318502           316271          99.299533
2            Kelantan     260024           258613          99.457358
3              Melaka     144807           142071          98.110589
4     Negeri Sembilan     230892           229259          99.292743
5              Pahang     182590           181071          99.168081
6               Perak     238885           236452          98.981518
7              Perlis      18989            18761          98.799305
8        Pulau Pinang     307436           305317          99.310751
9               Sabah     406783           399943          98.318514
10            Sarawak     324235           322341          99.415856
11           Selangor    1547816          1536576          99.273815
12         Terengganu     132919           131827          99.178447
13  W.P. Kuala Lumpur     467824           464447          99.278147
14     W.P. Putrajaya      32374            32092          99.128931

    percent_not_recovered
0                1.688696
1                0.700467
2                0.542642
3                1.889411
4                0.707257
5                0.831919
6                1.018482
7                1.200695
8                0.689249
9                1.681486
10               0.584144
11               0.726185
12               0.821553
13               0.721853
14               0.871069

DataFrame sorted by percent_not_recovered:

,state,cases_new,cases_recovered,percent_recovered,percent_not_recovered
2,Kelantan,260024,258613,99.457358,0.542642
10,Sarawak,324235,322341,99.415856,0.584144
8,Pulau Pinang,307436,305317,99.310751,0.689249
1,Kedah,318502,316271,99.299533,0.700467
4,Negeri Sembilan,230892,229259,99.292743,0.707257
13,W.P. Kuala Lumpur,467824,464447,99.278147,0.721853
11,Selangor,1547816,1536576,99.273815,0.726185
12,Terengganu,132919,131827,99.178447,0.821553
5,Pahang,182590,181071,99.168081,0.831919
14,W.P. Putrajaya,32374,32092,99.128931,0.871069
6,Perak,238885,236452,98.981518,1.018482
7,Perlis,18989,18761,98.799305,1.200695
9,Sabah,406783,399943,98.318514,1.681486
0,Johor,398177,391453,98.311304,1.688696
3,Melaka,144807,142071,98.110589,1.889411